// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$skeleton-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$skeleton-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$skeleton-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$skeleton-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $skeleton-primary,
      accent: $skeleton-accent,
      warn: $skeleton-warn
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($skeleton-theme);

/* You can add global styles to this file, and also import other style files */

/**======================================================================
=========================================================================
Template Name: Gradient Able Admin Template
Author: Codedscss/themes
supports: https://codedscss/themes.com/submit-ticket/
File: style.css
=========================================================================
=========================================================================
  == Table of Contents==
	- Generic classes
		-	Margin, Padding, Font class, text align, position, floating, overflow, background class, text color, display class, boarder class
	- Theme Elements
		-	Accordion, Button, tabs, typography, buttons, box shadow, Lable & Badges, Alert, Pagination, Breadcumb, Cards, Collapse,
        -   Carousel, Grid, Progress, Model, tooltip, popover, Datepicker, Gridstack, lightbox, notification, Nestable, pnotify, rating,
        -   Rangeslider, Slider, Syntax Highlighter, Tour, Treeview, Toolbar, Session Timeout, Session idle Timeout, offline, Animation
    - Forms
        -   Forms Elements, Advance Form Control, Validation, Masking, Wizard, Picker, Select
	- Pages
		-   authentication, Maintenance, Maps, Landing page messages, task, Todo, Notes, Charts, Icons, Gallery, Editors,
        -   Invoice, Full Calender, File Upload,
=================================================================================
=================================================================================== */

// Theme Font
@import 'scss/themes/font/theme-font';

// main framework
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'scss/settings/custom-variables';
@import 'scss/settings/theme-variables';

// bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'scss/themes/general';
@import 'scss/themes/generic';
@import 'scss/themes/minixs/function';

// icon
@import 'scss/themes/font/datta-icon';
@import 'scss/themes/font/feather';
@import 'scss/themes/font/fontawesome';
@import 'scss/themes/font/flaticon';

// component
@import 'scss/themes/component/component';

// theme layouts
@import 'scss/themes/layouts/menu-lite';
@import 'scss/themes/layouts/menu-ng';

// dashboard
@import 'scss/themes/pages/dashboard.scss';
@import 'scss/themes/pages/authentication';

@import 'scss/themes/chat/chat';

// custom
@import 'scss/themes/custom';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:wght@700&display=swap');

// global style
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.form-control {
  height: 50px !important;
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 30px !important;
  background: transparent !important;
}

.passwod-holder {
  position: relative;
  width: 100%;
}

.passwod-holder .icon-holder {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.logo-holder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
.table-responsive {
  height: calc(100vh - 22rem);
  overflow-y: auto;
  min-height: 470px;
}
.table-responsive::-webkit-scrollbar {
  width: 4px;
}

.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #071c2f;
  outline: 0 none;
}

.table-responsive thead {
  position: sticky;
  top: 0;
}
// global style

.card .card-block,
.card .card-body {
  padding: 30px 25px !important;
}

.card-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.dashboard-card .card {
  box-shadow: inherit;
  border: none;
  border-radius: 0px !important;
}

.tabview mat-tab-header.mat-mdc-tab-header {
  margin-bottom: 20px;
}

.tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab {
  height: auto;
  padding: 14px 0;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #184889 !important;
}

.tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab span.mdc-tab__text-label {
  color: #123d78;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab.mdc-tab-indicator--active {
  background: #034886;
}

.tab-holder {
  padding: 30px;
  background: #fff;
}

.mat-mdc-table thead {
  background: #034886 !important;
  color: #fff;
}

.mat-mdc-table thead th {
  color: #fff;
  font-size: 14px;
}

.card-holder-pannel {
  width: 100%;
  max-width: 810px;
  margin: 50px auto;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
}

.form-control-holder {
  width: 100%;
}

.form-control-holder .mat-mdc-text-field-wrapper {
  background: transparent !important;
}

.form-control-holder .mat-mdc-form-field-focus-overlay {
  background: transparent !important;
}

.btn {
  background: #034886 !important;
  color: #fff !important;
  padding: 10px 40px !important;
  font-size: 16px !important;
  border-radius: 30px !important;
}
.cancel-btn {
  height: auto !important;
}

.account-img-holder {
  position: relative;
  max-width: 150px;
  margin: 0px auto 30px;
  border-radius: 50%;
  overflow: hidden;
}

.account-img-user {
  padding: 0 0 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(194, 203, 254, 0.19);
  border: 1px solid #c2cbfe;
}
.account-img-user:after {
  content: '';
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: url(../src/assets/images/edit-icon.png);
  background-size: 30px;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.account-img-holder:hover .account-img-user:after {
  visibility: visible;
  opacity: 1;
}
.account-img-holder input.dp-upload-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
  transform: translateX(0px);
  border-radius: 50%;
  overflow: hidden !important;
}

.account-img-user img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.form-control-holder .mat-mdc-text-field-wrapper {
  padding: 0;
}

.form-control-holder .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
  padding: 0;
  height: auto;
  min-height: auto;
}

.form-control-holder .mdc-line-ripple {
  display: none;
}

.form-control-holder .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix input,
.form-control-holder .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix mat-select {
  height: 50px !important;
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 30px;
  width: 100%;
}

.tabview .mat-mdc-tab-labels {
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.tabview .mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  display: none !important;
}

.tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab.mdc-tab-indicator--active span.mdc-tab__text-label {
  color: #fff;
}

/* Filter Section Css */
.card-filter-wrap {
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  background: #fff;
  padding: 20px 25px;
  border-radius: 5px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.card-filter-wrap .left-holder {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 10px;
  flex-wrap: wrap;
}
.card-filter-wrap .left-holder .card-list {
  width: 236px;
}
.card-filter-wrap .left-holder .card-list .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.card-filter-wrap .right-holder {
  margin-left: auto;
}
/* Filter Section Css */
.invalid-feedback {
  display: block;
}
.card-popup-holder-pannel {
  padding: 30px;
}
.matchip-wrap mat-form-field {
  width: 100%;
}
.matchip-wrap mat-form-field .mat-mdc-form-field-infix {
  border: 1px solid #eeeeee;
  padding-left: 15px;
  padding-right: 15px;
  height: 90px;
  overflow-y: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.matchip-wrap mat-form-field .mat-mdc-form-field-infix::-webkit-scrollbar {
  width: 4px;
}

.matchip-wrap mat-form-field .mat-mdc-form-field-infix::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.matchip-wrap mat-form-field .mat-mdc-form-field-infix::-webkit-scrollbar-thumb {
  background-color: #071c2f;
  outline: 0 none;
}
.matchip-wrap .mat-mdc-text-field-wrapper {
  padding: 0;
}
.matchip-wrap mat-form-field .mat-mdc-form-field-infix .mdc-evolution-chip-set__chips {
  width: 100%;
  min-width: 100%;
}

/* --Dashboard view all button -- */
.button-row {
  text-align: end;
  margin: 0 0 20px;
}

//input type search cross button hover icon
input[type='search']::-webkit-search-cancel-button {
  cursor: pointer !important;
}

//modal style
.card-holder-modal {
  padding: 30px;
}
.card-holder-modal .mat-mdc-form-field-subscript-wrapper,
.card-popup-holder-pannel .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.card-holder-modal .form-holder,
.card-popup-holder-pannel .form-holder {
  margin-bottom: 15px;
}
button.close-popup.mat-mdc-icon-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  padding: 10px;
}
.mat-mdc-dialog-surface {
  justify-content: center;
}

//pagination style
.mat-mdc-paginator {
  background: #184888 !important;
  position: sticky;
  bottom: 0;
}
.mat-mdc-paginator * {
  color: #fff;
}
.mat-mdc-paginator mat-form-field {
  border: 1px solid #fff;
  border-radius: 5px;
}
.mat-mdc-paginator mat-form-field .mdc-notched-outline {
  display: none;
}
.mat-mdc-paginator-icon {
  fill: #fff !important;
}
.mat-mdc-tooltip-disabled svg.mat-mdc-paginator-icon {
  fill: #ffffff82 !important;
}

//table icon style
.table-icon {
  width: 35px;
  height: 35px;
  background: #174482;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.table-icon mat-icon {
  font-size: 20px !important;
  line-height: 1;
  color: #fff;
  width: auto;
  height: auto;
}
.table-icon a {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//date input style
.form-control-date .mat-mdc-text-field-wrapper {
  padding: 0 10px 0 15px !important;
  background: transparent !important;
  border: 1px solid #eeeeee;
  border-radius: 30px;
}
.icon-holder {
  display: flex;
  gap: 4px;
}

//date input style
.card-box {
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  background: #fff;
  padding: 20px 25px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.example-chip-list .mat-mdc-text-field-wrapper {
  background: transparent !important;
}
.example-chip-list .mdc-line-ripple {
  display: none !important;
}
.example-chip-list .mat-mdc-form-field-focus-overlay {
  display: none !important;
}

// date 23.05.2024
.menupos-fixed {
  z-index: 9;
}
.delete-pannel {
  background: transparent !important;
}
.delete-pannel .delete-info {
  background: transparent !important;
  box-shadow: none !important;
}
.card-popup-holder-pannel .mat-mdc-chip {
  background: #1a8ac9 !important;
  border-radius: 5px !important;
}
.card-popup-holder-pannel .mat-mdc-chip span.mdc-evolution-chip__text-label {
  color: #fff;
  font-size: 15px;
}
.card-popup-holder-pannel .mat-mdc-chip .material-icons {
  color: #fff;
}
.card-popup-holder-pannel .account-img-holder {
  max-width: 150px;
}

// date 23.05.2024
.modal-close {
  position: absolute !important;
  top: 10px;
  right: 10px;
  border: none;
  background: #174482 !important;
  color: #fff !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  min-width: auto !important;
}
.transaction-details a {
  cursor: pointer;
}
.transaction-details a:hover {
  color: #194a8d !important;
  text-decoration: underline !important;
}

// date 29.05.2024
.img-details-holder {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  border-radius: 50%;
  overflow: hidden;
}
.img-details-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button-details-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.back-holder a {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  background: #174482;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.download-icon img {
  height: 45px;
  object-fit: contain;
  padding: 5px;
}
.warning-icon {
  font-size: 57px;
  color: red;
}
.cursor-pointer {
  cursor: pointer;
}
.comingsoon-text {
  font-size: 35px;
  color: #002d55;
  font-weight: 700;
}

// date 11.06.2024
.userdetails-wrap .mat-mdc-tab-group {
  flex-direction: row !important;
  column-gap: 40px;
  align-items: flex-start;
}
.userdetails-wrap .mat-mdc-tab-group .mat-mdc-tab-labels {
  flex-direction: column;
}
.userdetails-wrap .mat-mdc-tab-group .mat-mdc-tab-header {
  margin: 0;
  width: 320px;
  background: #fff;
  padding: 30px 15px;
  border-radius: 15px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
}
.userdetails-wrap .mat-mdc-tab-group .mat-mdc-tab-body-wrapper {
  width: 100%;
}
.userdetails-wrap .tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab {
  height: auto;
  padding: 16px 15px;
  background: transparent;
  border-radius: 30px;
  border-bottom: 1px solid #dddeff !important;
  border-radius: 0;
  justify-content: start;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  position: relative;
}
.userdetails-wrap
  .tabview
  mat-tab-header.mat-mdc-tab-header
  .mat-mdc-tab-label-container
  .mdc-tab.mdc-tab-indicator--active
  span.mdc-tab__content
  span.mdc-tab__text-label {
  color: #123d78;
}
.userdetails-wrap .tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab:after {
  position: absolute;
  content: '';
  right: 15px;
  width: 7px;
  height: 13px;
  background: url('../src/assets/images/right-arrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  top: 15px;
  opacity: 0;
  transition: all 0.3s ease;
}
.userdetails-wrap .tabview mat-tab-header.mat-mdc-tab-header .mat-mdc-tab-label-container .mdc-tab.mdc-tab-indicator--active:after {
  opacity: 1;
}
.comingsoon-text {
  font-size: 35px;
  color: #002d55;
  font-weight: 700;
}

.sidebarholder {
  margin: 0;
  width: 250px;
  flex: 0 0 250px;
  background: #fff;
  padding: 30px 15px;
  border-radius: 15px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  position: sticky;
  top: 66px;
}
.sidebarholder ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebarholder ul a {
  padding: 15px 5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #17468729;
  cursor: pointer;
  color: #333;
}
.sidebarholder ul a.active {
  color: #164584;
}
.sidebarholder ul a svg {
  margin-right: 10px;
  fill: #164584;
}
.sidebarholder ul li:last-child a {
  border-bottom: none;
  padding-bottom: 0;
}
.transaction-details {
  display: flex;
  align-items: start !important;
  padding: 20px 15px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  background-color: #fdfdfd !important;
  flex-wrap: wrap;
  height: 100%;
}
.sidebarview {
  width: calc(100% - 250px);
}

.page-not-found {
  .card-box {
    min-height: calc(100vh - 200px);
    margin-bottom: 0;
    text-align: center;
    align-content: center;
    h2 {
      margin-bottom: 0;
    }
  }
}

.mat-column-userImage img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 1599px) {
  .card-title {
    font-size: 20px !important;
  }

  h2 {
    font-size: 22px;
  }

  .dasbord-list app-card {
    display: block;
    height: 100%;
  }

  .dasbord-list app-card .card {
    height: 100%;
  }

  .dasbord-list {
    margin-bottom: 30px;
  }
}

.table-responsive-inner {
  overflow: auto;
}
.mat-column-profileImage img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

// 30-10-2024
.border-icon button {
  border: 1px solid #eeeeee;
}

.mat-mdc-dialog-inner-container ::ng-deep .mat-mdc-dialog-surface {
  display: block;
}
.overview ::ng-deep p:last-child {
  margin-bottom: 0;
}
.mat-mdc-form-field-error {
  margin-left: 15px;
}
